Screen {
	layers: basic sidebar;
  background: $surface-darken-1;
}
#main {
  layout: vertical;
}

Button {
  content-align: center middle;
  width:100%;
  border: tall $background;

}
Button:hover {
  background:white;
}
#btn_group Button{
  content-align: center middle;
  align-horizontal: center;
  border: tall $background;

}

Footer{
  background: $surface-darken-1;
}

Static{
  content-align: center middle;

}


#text {
  max-height:58%;
  content-align: center middle;
  text-style: bold;
  background: $surface-darken-1;

}
#title {
  max-height:58%;
  content-align: center middle;
  text-style: bold;
  background: $surface-darken-1;

}

Filebrowser.-show-tree #tree-view {
    display: block;        
    max-width: 100%;
}


#code-view {
    overflow: auto scroll;  
    width: 100%;
    min-height:50%;
}
#code {
    width: auto;    
}

#file{
    layout: vertical;
    background: $surface-darken-1;

}

#left{
    dock: left;
    width: 30%;
    height: 100%;

}
#right{
    dock: right;
    width: auto;
    height: 100%;

}
DataTable {
  content-align-horizontal: center;
  text-align: center;
  content-align-vertical: middle;
  max-height:50%;
  text-style: bold;
  min-height:50%;
}

#sidebar {
	layer: sidebar;
	width: 25;
	height: 100%;
	offset-x: -100%;
	transition: offset 500ms in_out_cubic;
}

#sidebar.-active {
	offset-x: 0%;
} 
